# Data pipeline
beautifulsoup4
markdownify
ray
openai
tenacity
tiktoken
tqdm
plotly
scikit-learn
umap
# Training
wandb
numba
# Training + Serving
sentencepiece
transformers
accelerate
flash-attn
# Serving
fastapi
pydantic
shortuuid
uvicorn
vllm
