# Data pipeline
beautifulsoup4
markdownify
ray
openai
tenacity
tiktoken
tqdm
plotly
scikit-learn
umap
# Training
wandb
numba
deepspeed
datasets
orjson
# Training + Serving
sentencepiece
transformers
accelerate
flash-attn<2
protobuf==3.20
# Serving
fastapi
pydantic
shortuuid
uvicorn
vllm
